# Archivos sensibles
.env

# Dependencias de IDE
.vscode/
.idea/

# Archivos de compilación
*.log
*.tmp
*.exe
*.test
*.html
*.out
gosec-report.html
gosec-report.json
openapi.yaml.bak
!certs/auth0-root.pem